.fun {
    color:khaki; 
    background-color: black; 
    font-size:100px;
}

.notfun {
    color:lawngreen; 
    background-color: purple; 
    font-size: 50px;
}

#uniqueelement1 {
    color:rgb(0, 235, 252); 
    font-size: 200px;
    border: red solid 10px;
}